{# templates/editor/index.html.twig #}
{% extends 'base02.html.twig' %}

{% block title %}Détails de l'editeur{% endblock %}

{% block body %}
    <h1>Détails de l'editeur</h1>
    <h2>Bienvenue dans votre espace editeur</h2>
    {% if user %}
        <p>Nom d'editeur : {{ user.username }}</p>
        <p>Email : {{ user.email }}</p>
        <p>Rôles : {{ user.roles|join(', ') }}</p>
    {% else %}
        <p>Aucune donnée editeur disponible.</p>
    {% endif %}
{% endblock %}