<nav class="navbar navbar-expand-lg">
    <div class="container">
        <!-- Brand/Logo -->
            <i class="bi-back"></i>
        </a>

        <!-- Toggle Button for Mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-lg-5 me-lg-auto">
                <!-- Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Bibliotheque
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <!-- Create Quiz Link -->
                         <li>
                            <a class="dropdown-item" href="{{ path('app_livre_index') }}">
                                Browse Books
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ path('app_quiz_setup') }}">
                                create a quiz for a book
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- User Icon (Optional) -->
            <div class="d-none d-lg-block">
                <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
            </div>
        </div>
    </div>
</nav>