{# templates/user/index.html.twig #}
{% extends 'base2.html.twig' %}

{% block title %}Détails de l'utilisateur{% endblock %}

{% block body %}
    <h1>Détails de l'utilisateur</h1>
    <h2>Bienvenue dans votre espace utilisateur</h2>
    {% if user %}
        <p>Nom d'utilisateur : {{ user.username }}</p>
        <p>Email : {{ user.email }}</p>
        <p>Rôles : {{ user.roles|join(', ') }}</p>
    {% else %}
        <p>Aucune donnée utilisateur disponible.</p>
    {% endif %}
{% endblock %}
